.feature {
    padding-top: 94px;
    
}
.feature-list {
    
    display: flex;
    justify-content: space-between;
    & .items {
   
   
        flex-basis: calc((100% - 90px) / 4);
    
    & .item:not(:last-child) {
        margin-right: 30px;
        
        }
}

}
