.section-team  {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-background);
}

.team-members {

    display: flex;
    justify-content: center;
    & .members-name:not(:last-child) {
        margin-right: 30px;
    }
}

.member-title{
    margin-bottom: 10px;
    color: var(--secondary-text-color);   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    }

.members-name {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
}
.employee {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
}