.feature-list .section-title {
    margin-bottom: 10px;

    color: var(--secondary-text-color);
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}




// footer
    .social-head {
        display: block;
      margin-bottom: 20px;
    
      font-weight: bold;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }


    .footer-mail-head {
        display: block;
          margin-bottom: 20px;
          font-weight: bold;
          font-size: 14px;
          line-height: 1.14;
          letter-spacing: 0.03em;
          text-transform: uppercase;
        } 